<!doctype html>
<!---
  this default.html is based on 
    https://github.com/pages-themes/hacker
--->

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ '/assets/css/prmenu.css' | relative_url }}" />
                                         
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
 
  </head>
  <body>

    <!------------ メニューバー ------------->
    <script src="{{ '/assets/js/jquery-3.2.1.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.prmenu.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function(){
      $('#top-menu').prmenu();
      });
    </script>
    <ul id="top-menu">
      <li><a href="{{ '/' | relative_url }}">トップページ</a></li>
      <li><a href="{{ '/BybitOrder' | relative_url }}">Bybit注文ツール</a></li>
      <li><a href="{{ '/execution' | relative_url }}">Bybit約定通知</a></li>
      <li><a href="{{ '/BitMEXOrder' | relative_url }}">BitMex注文ツール</a></li>
    </ul>
    <!------------ メニューバー ------------->
    

    <div class="wrapper">

      <!-- ヘッド -->
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      
      <!-- サブ・ディレクトリへのリンク -->
      <sidemenu>
	<ul>
	  <li class="sidemenu"><a href="{{ '/' | relative_url }}">トップページ</a></li>
      <li><a href="{{ '/BybitOrder' | relative_url }}">Bybit注文ツール</a></li>
      <li><a href="{{ '/execution' | relative_url }}">Bybit約定通知</a></li>
      <li><a href="{{ '/BitMEXOrder' | relative_url }}">BitMex注文ツール</a></li>
	</ul>
      </sidemenu>

      <!--  Markdown の本体 -->
      <section>
	{{ content }}
      </section>
      
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Hacker theme</small></p>
        <p><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></p>
      </footer>
    </div>
    
  </body>
</html>
